  <!-- To visualize what the robot sees during pick place demo -->

<launch>
  <include file="$(find fetch_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/fetch/joint_states]</rosparam>
  </node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_fetch)/configs/Moveit.rviz" />
 	<rosparam command="load" file="$(find fetch_moveit_config)/config/kinematics.yaml"/>
</launch>
